@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Karla&display=swap');

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    color: #051d26;
    font-size: 1.6rem;
    font-family: "Karla", Arial, Helvetica, sans-serif;
}

[type=submit]:not(:disabled),
button,
.buttons {
    background-color: #ed4c2f;
    padding: 0.5rem;
    border: 0.2rem solid #051d26;
}

[type=submit]:not(:disabled):hover,
button:hover,
.buttons:hover {
    background-color: #051d26;
    color: #ed4c2f;
}

[type="file"]:not(:disabled) {
    border: 0.2rem solid #051d26;
    padding: 0.2rem;
}

::-webkit-file-upload-button {
    background: #ed4c2f;
    color: #051d26;
}

::-webkit-file-upload-button:hover {
    background: #051d26;
    color: #ed4c2f;
}

.navbar-brand,
.nav-link {
    color: #ed4c2f !important;
    font-size: 2rem;
}

.navbar {
    background-color: #051d26 !important;
}

.nav-link:hover,
.navbar-brand:hover{
    color: white !important;
}

#image-upload {
    padding-left: 1rem;
    margin-top: 2rem;
}

.image-detail {
    width: 100%;
    height: auto;
}

#refresh i{
    color: #051d26;
    margin-left: 1rem;
}

#refresh i:hover {
    color: #ed4c2f;
}

.image-overview {
    width: 100%;
    height: 40rem;
}

/** Buttons */

.buttons {
    text-decoration: none;
    background-color: white;
    color: #0f4c5c;
    padding: 1rem;
    border-radius: 0.5rem;
}

/* Loading spinner */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #051d26;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: #ed4c2f;
    z-index: 99999;
}


/* Register /login form */


.new-user {
    color: #051d26;
    text-decoration: underline;
}

.new-user:hover {
    color: #fe5000;
}


/* Search functionality */

select, input {
    height: 3rem;
    font-size: 1.8rem;
    line-height: 2rem;
}

input {
    margin-left: 1rem;
}