{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4 mb-4">
            <h1>Image Detail</h1>
        </div>
        <div class="col-12 col-md-4">
            <img src="{{ image }}" alt="" class="image-detail">
        </div>
        {% if image_data %}
            <div class="col-12 col-md-4 pt-4 pl-4">
                <h2>Image data</h2>
                <p>Image name: {{ image_data.image_name }}</p>
                <p>UUID: <span id="id">{{ image_data.uuid }}</span></p>
                <p>Uploaded on: {{ image_data.upload_date }}</p>
                {% if image_data.username %}
                    <p>Uploaded by: {{ image_data.username }}</p>
                {% endif %}
            </div>
            <div class="col-12 col-md-4 pt-4 pl-4">
                <h2>Labels from Vision API</h2>
            {% if image_data.labels %}
                {% for label in image_data.labels %}
                    <p class="refresh">{{ label }}</p>
                {% endfor %}
            {% else %}
                <p class="refresh">Processing... <a href="#" id="refresh"><i class="fas fa-sync-alt fa-spin"></i></a></p>
            {% endif %}
            </div>
            <div class="col-12 col-md-4 pt-4 pl-4">
                <a href="{{ url_for('delete_image', image_id=image_data.uuid) }}" class="buttons">Delete image</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}