{% extends 'base.html' %}

{% block content %}

<div class="container-fluid" id="image-upload">
    <h1 class="mb-4">Image Upload</h1>
    {% if session.user %}
        <h2>Hi, {{ session.user|capitalize}}!</h2>
    {% endif %}

    <div id="loading-overlay">
        <h1 class="loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
    <div id="content">
        <form method="post" enctype="multipart/form-data" action="{{ url_for('index')}}">
            <input type="file" name="file">
            <input type="submit" value="Upload" onclick="loading()">
        </form>
    </div>

</div>


{% endblock %}