{% extends "base.html" %}

{% block content %}

<div class="container-fluid ml-6">
    <h1 class="mb-4 mt-4">Sign In</h1>
    <div class="row">
        <form action="" method="post">
            <div class="col-12 mb-3">
                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="labels" for="username">Username:</label>
                    </div>
                    <div class="col-12 col-md-8">
                        <input  type="text" name="username">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="labels" for="password">Password:</label>
                    </div>
                    <div class="col-12 col-md-8">
                        <input type="password" name="password">
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" value="submit">Submit</button>
            </div>
        </form>
        <p class="mt-3" >New User? <a href="{{ url_for('register') }}" class="new-user">Click to Register!</a></p>
    </div>
</div>

{% endblock %}