{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <h1 class="mb-4 mt-4">Your uploaded images</h1>
    <div class="row">
        <form action="{{ url_for('view_images') }}" method="POST">
            <div class="col-12 mb-2">
                <select name="search-possibilities" id="search-possibilties">
                    <option value="default" selected disabled>Select filter</option>
                    {% if search_possibilities %}
                    {% for possibility in search_possibilities %}
                        {% if possibility != 'username' %}
                            <option value="{{possibility }}">{{possibility}}</option>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-12 mb-2">
                <input type="submit">
            </div>
        </form>
        {% for image in images %}
        <div class="col-12 col-md-3 mt-2">
            <a href="{{ url_for('display_image', image_id=image) }}">
                <img src="https://storage.cloud.google.com/ypa-image-upload.appspot.com/{{image}}" alt="" class="image-overview">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}